.content {
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  max-width: 300px;
  max-height: 330px;
  margin-right: 15px;
  color: rgba(85, 85, 85, 0.685);
}

body {
  background-color: #f8f9fa;
}

.img-fluid {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.btn-tweet {
  border-radius: 30px;
}

.b {
  border: 1px solid red;
}

.b1 {
  border: 1px solid green;
}

.formBtn {
  margin-top: 10px;
}

.tweet-element {
  font-size: 14px;
  border-radius: 0px;
  border: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px;
}

.tweet-element:first-child {
  border: 0px;
}

.boutonDelete {
  float: right;
  font-size: 12px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.imageTweet {
  margin-bottom: 20px;
  border-radius: 50%;
}

.authorTweet {
  padding-bottom: 20px;
  padding-left: 5px;
  font-weight: bold;
}

.tweetContent {
  padding-left: 5px;
  padding-bottom: 15px;
}

.btnEdit {
  margin-right: 10px;
  margin-top: 5px;
}

.linkNav {
  display: table-cell;
  float: right;
}

.exo {
  display: table;
  width: 100%;
}

#search-menu-container {
  position: relative;
}

.search-menu {
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 20px;
  left: 0px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.search-menu-items {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
  transition: background 0, 4s;
}

.search-menu-items:hover {
  background-color: #eee;
  transition: background 0.4s;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-follow {
  background-color: #0d6efd;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  margin-bottom: 15px;
  border-width: 2px;
}

.btn-follow:hover {
  background-color: white;
  color: #0d6efd;
}

.btn-unfollow {
  background-color: #0d6efd;
  font-weight: bold;
  border-radius: 30px;
  margin-bottom: 15px;
}

.btnConnexion {
  display: block;
  margin: auto;
}

.inputPassword {
  margin-bottom: 20px;
}

.text-hint {
  color: #718093;
  font-size: 12px;
  cursor: pointer;
  padding-right: 10%;
}
