script(src="/javascript/search-bar.js")
nav(class="navbar navbar-expand-lg navbar-light bg-white")
  a(class="navbar-brand" href="/tweets")
    img(width="40" height="30" src="/images/twitter_logo.png")
  button(class="navbar-toggler")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse")
    if isAuthenticated
      form
        input(type="text" class="form-control mr-2" placeholder="search" id="search-input") 
        div(id="search-menu-container")

      ul(class="navbar-nav exo")
        li(class="nav-item active linkNav")
          a(class="nav-link pointer-cursor" href="/auth/signout") Déconnexion
        li(class="nav-item active linkNav")
          a(class="btn btn-primary btn-tweet mr-3 pointer-cursor" href="/tweets/new") Tweet
    else
      ul(class="navbar-nav")
        li(class="nav-item")
          a(class="nav-link pointer-cursor" href="/auth/signin/form") Connexion
        li(class="nav-item")
          a(class="nav-link pointer-cursor" href="/user/signup/form") Inscription